<div class="main-header">
    <div class="main-name">
      hogefuga
    </div>
</div>

<div class="messages">
  <div class="message">
   <div class="upper-massage">
     <div class="message-user">
       Tom
     </div>
     <div class="message-date">
       2021/3/3(wed) 19:45:30
     </div>
   </div>
   <div class="lower-message">
      <div class="message-text">
       おはよう
      </div>
   </div>
  </div>
</div>

<div class="form">
   <div class="form-input">
     <input class="form-message" placeholder= "メッセージを入力して下さい">
     <label class="form-image">
       <span class="image-file">画像</span>
        <input type="file" class="hidden">
     </label>
   </div>
     <input class="form-submit" type="submit" value="送信">
</div>