<div class="main-header">
    <div class="main-name">
      細かくチェックすること
    </div>
    <div class="log_out">
    <%=link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </div>
</div>

<div class="messages">
  <div class="message">
   <div class="upper-massage-top">
     <p>お疲れ様です！</p>
     <p>平素より健全なコミュニケーションにご協力いただきありがとうございます！</p>
     <p>連絡を取りたい部署を選んでください。</p>
     <p>部署がない場合は作成できます。</p>
     <b>*必要なもののみ作成してください。一度作成すると消えません。</b>
   </div>
  </div>
</div>

<div class="form">
<div class="form-input">
</div>
</div>